*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0082e6;
    height: 80px;
    width: 100%;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    
}
.logo p {
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}
.logo img{
    width: 70px;
    height: 70px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: inline-block;
    }
    ul{
        position: fixed;
        width: 100px;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100px;
        text-align: center;
        translate: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active{
        background-color: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}
